*{
    margin: 0px;
    border: 0px;
}
/* nombre de la web (h1) */

.div-h1{
    display: grid;
    width: 100%;
    grid-template-rows: 200px ;
    background-color: transparent;
}

@media(max-width:941px){
    .div-h1{
        height: 60px;
    }
    }
/* el h1 hacerlo con flex */
.h1{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3%;
    font-family: 'Press Start 2P', cursive;
    font-size: 70px;
    color:blueviolet;
    text-shadow: 1px 1px 1px aqua;
}
@media(max-width:941px){
    .h1{
        font-size: 30px;
        margin-bottom:-50px;
    }
    }


/* nav */

.nav{
    display: flex;
    flex-direction: left;
    justify-content: space-around;
}

.nav-ul{
     list-style: none; /*quito la bolita de la lista */
    
}

.nav-li{
    display: flex;
    flex-direction: left;
    justify-content: space-around;    
    margin-top: 6%;
    box-shadow: 1px 1px 2px black;
    border:1px solid blueviolet ;
    border-radius: 50px;
    padding: 20px;
    background-color:rgba(250, 250, 250, 0.267);
   
}
@media (max-width:1629px){
    .nav-li{
        margin-top: -20px;
    }
}

    @media(max-width:945px){
        .nav-li{
            margin-top: 1px;
        }
        }

.nav-a{
    margin-right: 80px;
    display: flex;
    flex-direction: left;
      
    text-decoration: none; /* quito la linea debajo de los enlaces */
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size:35px;
    color:blueviolet;
    text-shadow: 1px 1px 1px aqua;
}
@media (max-width:941px){
    .nav-a{
        font-size: 14px;
        margin-right: 10px;
        width: auto;
    }
    }
    @media (max-width:400px){
        .nav-a{
            font-size: 10px;
            text-align: center;
        }
        }
  
.main{
    display: grid;
    grid-template-rows: auto 200px;
    gap:100px;
    background-color: transparent;
    text-align: center;
}

.article{
    margin-top: 2%;
}
@media (max-width:941px){
    .article{
        font-size: 10px;
        text-align: center;
    }
    }


.paragraph{
    font-size: 18px;
    color: black;
}
.paragraph-two{
    margin-top: 2%;
    font-size: 18px;
    color: white;
}
.container{
    display: grid;
    grid-template-rows:60px 20px ;
    justify-content: center;
}
.container-h2{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    margin-top: -40px;
}
@media(max-width:700px){
    .container-h2{
        margin-top: -50px;
    }
}

@media (max-width:941px){
    .container-h2{
        font-size: 20px;
        text-align: center;
    }
    }
    @media (max-width:700px){
        .container-h2{
            text-align: center;
        }
        }

.btn{
    background-color: transparent;
    height: 70px;
    width: 100%;
    border-radius: 50px;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    text-transform: uppercase;
    border: 1px solid blueviolet;
    box-shadow: 1px 1px 2px black;
    color: blueviolet;
    text-shadow: 2px 2px 2px aqua;
    background-color:rgba(250, 250, 250, 0.267);
}


.btn:hover{
    color:yellow;
    text-shadow:3px 3px 3px blueviolet;
    transition: 1.3s;
    transform:scale(1,1);
}

.nav-a:hover{
    color:rgb(255, 236, 127);
    text-shadow:3px 3px 3px blueviolet;
    transition: 1.8s;
}